$red: #3e59ff;
$white: #fff;

.card {
  background-color: $red;
  &__title {
    color: $white;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $red;
  color: $white;
  text-align: center;
}
