.footer-template {
  background-color: #bbbbbb;
  width: 100%;
  padding: 30px;
}

.header {
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.header p a:hover {
  color: #8e36b7;
}

.header p a {
  width: 64px;
  height: 12px;
  color: #909090;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.header .cart p a {
  width: 5px;
  height: 6px;
  color: blue;
  font-family: Gotham;
  font-size: 8px;
  font-weight: 700;
}

.box {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 90px;
  width: 20%;
  height: 60px;
  margin: 20px;
  box-sizing: border-box;
}

.box:nth-child(1) {
  flex-grow: 1;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf");
}

html {
  font-family: "Source Sans Pro";
  color: #434343;
  font-size: 18px;
  font-weight: 400;
}

body {
  margin: 0;
}
