.card {
  background-color: #3e59ff;
}

.card__title {
  color: #fff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3e59ff;
  color: #fff;
  text-align: center;
}
