#checkout {
  grid-area: s-cart;
  display: grid;
  grid-template-columns: 2fr 12fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: '. c-content .';
  font-size: 1.2em;
  color: #434343;
  margin: 100px 0;
}

.checkout-content {
  grid-area: c-content;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 66px;
  grid-template-rows: auto;
  grid-template-areas: 'user-data user-address ';
  label {
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    height: 46px;
    border: 1px solid $text-color;
    border-radius: 3px;
    margin-bottom: 40px;
    padding-left: 20px;
    font-size: 0.8em;
  }
  span {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .two-col {
    width: 100%;
    display: flex;
  }
  .user-data {
    width: 100%;
    grid-area: user-data;
    display: flex;
    flex-direction: column;
  }
  .user-address {
    width: 100%;
    grid-area: user-address;
    display: flex;
    flex-direction: column;
  }
}

.checkout-content span.first-col {
  margin-right: 26px;
}

input[type='date']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#born-date {
  color: text-color;
  padding-left: 10px;
}

span.second-col {
  margin-left: 26px;
}

span.size-field {
  width: 40%;
}

#show-modal {
  grid-area: submit;
  width: 75%;
  height: 55px;
  background: #8e36b7;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 3px;
  align-self: flex-end;
}

#modal-checkout {
  img {
    width: 200px;
    margin-bottom: 50px;
  }
  span {
    text-align: center;
  }
  .close {
    border: none;
    font-size: 1.5em;
    background-color: transparent;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .checkout-content {
    grid-area: c-content;
    display: grid;
    grid-template-columns: auto;
    column-gap: 66px;
    grid-template-rows: auto;
    grid-template-areas: 'user-data' ' user-address ';
  }
  #born-date {
    color: #909090;
    padding-left: 10px;
  }
  .two-col {
    flex-direction: column;
    span.second-col {
      margin-left: 0;
    }
    span.size-field {
      width: 100%;
    }
  }
  #show-modal {
    width: 100%;
    height: 60px;
  }
}
